@import "./mixin-variables";
$tabColor: rgb(255, 122, 122);
$backgroundColor: #ececec;
$activeButton: rgb(141, 209, 203);
$navColor: #c268b7;
@mixin buttonColor($opacity) {
  background-color: rgba(141, 209, 203, $opacity);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  li,
  a,
  button {
    font-weight: 400;
    font-size: 16px;
    color: rgb(26, 26, 26);
    text-decoration: none;
  }
}

.logo {
  cursor: pointer;
  text-decoration: none;
  border: solid white 1px;
  padding: 5px 10px;
  color: white;
  font-family: "Indie Flower", cursive;
}
.nav-links {
  list-style: none;
  @include flexCenter(center);
  li {
    padding: 0 20px;
    a {
      transition: all 0.2s ease 0s;
    }
    a:hover {
      color: yellow;
    }
  }
}

header {
  position: sticky;
  top: 0;
  font-family: "Dosis", sans-serif;
  @include flexCenter(space-between);
  padding: 10px 10%;
  background-color: $navColor;
  button {
    font-family: "Dosis";
    padding: 9px 25px;
    @include buttonColor(1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }
  button:hover {
    @include buttonColor(0.7);
  }
}

.banner {
  width: 100%;
}
.side-bar {
  background: $tabColor;
  position: fixed;
  height: 60%;
  top: 15%;
  width: 8.5%;
  // left: 1%;
  @include flexCenter(center);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  ul li {
    padding: 10% 0;
    margin: 5% 0;
    font-size: 1.2rem;
    text-align: center;
    @include border();
    cursor: pointer;
    list-style: none;
  }
}

.image-gallery {
  // background: $Color;
  border-radius: 3px;
  grid-area: gallery;
  @include flexCenter(center);
  flex-wrap: wrap;
  img {
    border-radius: 3px;
    margin: 10px;
  }
}

footer {
  background: rgb(230, 230, 106);
  grid-area: footer;
}

img {
  max-height: 300px;
  width: auto;
}

.active {
  background: $activeButton;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

footer {
  .end {
    @include flexCenter(center);
    img {
      border-radius: 50px;
      height: 70px;
      width: 70px;
      margin: 20px;
    }
  }
}
