@import "./mixin-variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  @include grid();
}

nav {
  background: lightcoral;
  position: sticky;
  top: 0;
  width: 100%;
  grid-area: header1;

  ul {
    @include flexCenter(flex-end);
    // justify-items: center;
    li {
      padding: 0 20px 0 20px;
      list-style: none;
      @include border();
    }
    .home-link {
      margin-right: auto;
      @include border();
    }
  }
}

.banner {
  width: 100%;
}
.side-bar {
  background: lightgreen;
  position: fixed;
  height: 60%;
  top: 15%;
  width: 8.5%;
  // left: 1%;
  @include flexCenter(center);
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  ul li {
    padding: 10% 0;
    margin: 5% 0;
    font-size: 1.2rem;
    text-align: center;
    @include border();
    cursor: pointer;
  }
}

.image-gallery {
  background: lightblue;
  border-radius: 25px;
  grid-area: gallery;
  @include flexCenter(center);
  flex-wrap: wrap;
  img {
    border-radius: 10px;
    margin: 10px;
  }
}

footer {
  background: rgb(230, 230, 106);
  grid-area: footer;
}

img {
  max-height: 300px;
  width: auto;
}

.active {
  background: rgb(182, 31, 31);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
